<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<div class="container" id="createRestaurant" style="width: 40%"> 
    <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
        <p style="color: red;">*為必填</p>
        <div class="form-group">
            <label for="exampleFormControlInput1"><span style="color: red;">*</span>餐廳名稱</label>
            <input type="text" class="form-control" name="name" value="{{restaurant.name}}" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">餐廳英文名稱</label>
            <input type="text" class="form-control" name="name_en" value="{{restaurant.name_en}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1"><span style="color: red;">*</span>食物種類</label>
            <input type="text" class="form-control" name="category" value="{{restaurant.category}}" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1"><span style="color: red;">*</span>照片連結</label>
            <input type="text" class="form-control" name="image" value="{{restaurant.image}}" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1"><span style="color: red;">*</span>地址</label>
            <input type="text" class="form-control" name="location" value="{{restaurant.location}}" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1"><span style="color: red;">*</span>電話</label>
            <input type="text" class="form-control" name="phone" value="{{restaurant.phone}}" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Google map連結</label>
            <input type="text" class="form-control" name="google_map" value="{{restaurant.google_map}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1"><span style="color: red;">*</span>評分</label>
            <input type="number" class="form-control" name="rating" placeholder="1到5分" min="1" max="5" value="{{restaurant.rating}}" step="0.1" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">想說的話</label>
            <textarea class="form-control" name="description" rows="5">{{restaurant.description}}</textarea>
        </div>
        <button type="button submit" class="btn btn-info">確認修改</button>
        <a href="/">
            <button type="button" class="btn btn-info">返回</button>
        </a>
    </form>
</div>   